asgiref
attrs
certifi
cffi
charset-normalizer
cloudinary
cryptography
defusedxml
dj-database-url
Django==5.0.2
django-allauth
django-cloudinary-storage
django-cors-headers
djangorestframework
djangorestframework_simplejwt
drf-spectacular
gunicorn
idna
inflection
jsonschema
jsonschema-specifications
oauthlib
pillow
psycopg2-binary
pycparser
PyJWT
python-decouple
python-dotenv
python3-openid
PyYAML
referencing
requests
requests-oauthlib
rpds-py
setuptools
social-auth-app-django
social-auth-core
sqlparse
tzdata
uritemplate
urllib3
whitenoise
